In [28]:
from pandas_datareader import data
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [31]:
# Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
ticker = 'GOOGL'

# Define which online source one should use
data_source = 'yahoo'

start = '2009-01-01'
end = '2017-12-31'

In [32]:
data = data.DataReader(ticker, data_source, start, end)

In [33]:
data['Date'] = data.index
data = data[['Date', 'Open', 'High', 'Low', 'Close', 'Volume']]
data = data.sort_values(by = ['Date'], ascending = False)
data['close_greater_than_open'] = np.where(data['Close'] > data['Open'], 'yes', 'no')
validation = pd.DataFrame(data.iloc[0, :])
validation = validation.transpose()
data = data.iloc[1:]

In [34]:
data.shape

(2264, 7)

In [35]:
data.head()

,Date,Open,High,Low,Close,Volume,close_greater_than_open
Date,,,,,,,
2017-12-28,2017-12-28,1062.250000,1064.839966,1053.380005,1055.949951,994200,no
2017-12-27,2017-12-27,1066.599976,1068.270020,1058.380005,1060.199951,1116200,no
2017-12-26,2017-12-26,1068.640015,1068.859985,1058.640015,1065.849976,918800,no
2017-12-22,2017-12-22,1070.000000,1071.719971,1067.640015,1068.859985,889400,no
2017-12-21,2017-12-21,1075.390015,1077.520020,1069.000000,1070.849976,1282000,no

In [40]:
y = data['close_greater_than_open']
X = data[['Open', 'High', 'Low', 'Close', 'Volume']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [41]:
#Regression Model
model = LogisticRegression()
model.fit(X_train, y_train)

predicted = model.predict(X_test)
accuracy = model .score(X_test, y_test)

In [42]:
#Predicting if open > close
val_x = validation[['Open', 'High', 'Low', 'Close', 'Volume']]
predict = model.predict(val_x)

In [43]:
print('Accuracy:', accuracy)
print('Is close greater than open?:', predict)

Accuracy: 0.9852941176470589
Is close greater than open?: ['no']